html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #87cefa;
  width: 100%;
  height: 100%;
  touch-action: none;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
  background-color: #87cefa;
  cursor: pointer;
}

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
