html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;     /* 뷰포트 너비 기준 */
  height: 100vh;    /* 뷰포트 높이 기준 */
  background-color: #87cefa; /* 임시 배경 */
}
